html, body {
    width: 100%;
    height: 100%;
}

#imgs-section {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 auto;
    justify-content: space-around;
}

img {
    width: 25%;
    margin: 0 5px;
    object-fit: contain;
}

#progress-text-id {
    text-align: center;
    margin-top: 50px;
}

ul {
    list-style-type: none;
}

#results-Chart {
    margin-right: 15px;
}